a {
  text-decoration: none !important;
}

html {
  overflow-y: auto;
}

#app {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &.theme--light {
    background-image: linear-gradient(
      to right top,
        rgba(207, 216, 220, 0.7),
      rgba(176, 190, 197, 0.9)
    ), url('/background.jpg');
  }
  &.theme--dark {
    background-image: linear-gradient(
      to right top,
      rgba(55, 71, 79, 0.7),
      rgba(38, 50, 56, 0.9)
    ), url('/background.jpg');
  }
}

.stick-left {
  position: sticky;
  left: 0;
  z-index: 1;
  background: white;
  border-right: 1px solid rgba(0, 0, 0, 0.12);

  tbody tr:hover & {
    background: #eeeeee;
  }

  .v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > & {
    z-index: 3;
  }

  .theme--dark & {
    background: rgb(30, 30, 30);
    border-right: 1px solid rgba(255, 255, 255, 0.12);
  }

  .theme--dark tbody tr:hover & {
    background: #616161;
  }
}

.stick-right {
  position: sticky;
  right: 0;
  z-index: 1;
  background: white;
  border-left: 1px solid rgba(0, 0, 0, 0.12);

  tbody tr:hover & {
    background: #eeeeee;
  }

  .v-data-table--fixed-header > .v-data-table__wrapper > table > thead > tr > & {
    z-index: 3;
  }

  .theme--dark & {
    background: rgb(30, 30, 30);
    border-left: 1px solid rgba(255, 255, 255, 0.12);
  }

  .theme--dark tbody tr:hover & {
    background: #616161;
  }
}

.ct-label {
  color: inherit;

  .theme--dark & {
    color: rgba(255, 255, 255, 0.4);
  }
}
